
@{
    ViewBag.Title = "Index";
}

<h2>学生信息管理</h2>
<ul>
    <li>
        @Html.ActionLink("导入学生信息", "UpExcel")
    </li>
    <li>
        @Html.ActionLink("查询学生信息", "ShowStuMsg")
    </li>
    <li>
        @Html.ActionLink("添加学生信息", "AddStuMsgView")
    </li>
</ul>

