
@{
    ViewBag.Title = "Index";
}

<h2>方向信息管理</h2>
<ul>
    <li>
        @Html.ActionLink("显示方向信息", "ShowDiMsg")
    </li>
    <li>
        @Html.ActionLink("添加方向信息", "AddDiMsgView")
    </li>
</ul>


