
@{
    ViewBag.Title = "ShowDiMsg";
}

<style type="text/css">
    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table.imagetable th {
            background: #b5cfd2 url('cell-blue.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

        table.imagetable td {
            background: #dcddc0 url('cell-grey.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }
</style>

<h2>方向信息</h2>
<table class="imagetable" id="directions">
    <tr>
        <th>方向名</th>
        <th>负责老师</th>
        <th>方向人数</th>
        <th>操作</th>
    </tr>
    @foreach (var n in ViewBag.dimsg)
    {
    <tr>
        <td>@n.Name</td>
        <td>@n.Director.Name</td>
        <td>@n.Max</td>
        <td>
            @Html.ActionLink("删除", "DirectionDel",new { Id=n.Id},new { onclick= "return confirm('确认删除？')" })
        </td>
    </tr>
    }
</table>

