
@{
    ViewBag.Title = "Index";
}

<h2>教师信息管理</h2>
<ul>
    <li>
        @Html.ActionLink("显示教师信息", "ShowTeaMsg")
    </li>
    <li>
        @Html.ActionLink("添加教师信息", "AddTeaMsgView")
    </li>
</ul>

