@model WhichDirection.Domain.Entities.Teacher
@{
    ViewBag.Title = "ShowTeaMsg";
}

<style type="text/css">
    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table.imagetable th {
            background: #b5cfd2 url('cell-blue.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

        table.imagetable td {
            background: #dcddc0 url('cell-grey.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }
</style>
<h2>教师信息</h2>
<table class="imagetable">
    <tr>
        <th>姓名</th>
        <th>工号</th>
        <th>负责方向</th>
    </tr>
    @foreach (var n in ViewBag.temsg)
    {
    <tr>
        <td>@n.Name</td>
        <td>@n.LoginName</td>
        @if (n.Direction == null)
        {
            <td>暂未负责方向</td>}
        else
        {
            <td>@n.Direction.Name</td>
        }
    </tr>
    }
</table>

