
@{
    ViewBag.Title = "Index";
}

<h2>管理员页面</h2>
<ul>
    <li>
        @Html.ActionLink("方向信息管理", "Index", "Direction")
    </li>
    <li>
        @Html.ActionLink("教师信息管理", "Index", "Teacher")
    </li>
    <li>
        @Html.ActionLink("学生信息管理", "Index", "Student")
    </li>
</ul>

